.itemForm {
    width: 100%;
    position: relative;
}

.itemForm input {
    display: block;
}

.itemForm input[type=text] {
    width: 100%;
    box-sizing: border-box;
    font-family: "Akshar", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 14px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border: 5px solid rgb(99, 99, 99);
}

.itemForm input[type=submit] {
    width: 250px;
    margin: 0 auto;
    background-color: rgb(31, 187, 31);
    border: none;
    border-radius: 10px;
    padding: 7px 14px;
    font-size: 20px;
    font-family: "Akshar", sans-serif;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

@media only screen and (max-width: 728px) {
    .itemForm input[type=submit] {
      box-sizing: border-box;
      width: 100%;
    }
}