.relativeContainer {
    position: relative;
}

.editDiv {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    min-height: 250px;
    padding: 14px;
    border: 5px solid rgb(197, 197, 197);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.containerDiv {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    gap: 25px;
    position: relative;
}

.buttonContainer {
    display: flex;
    gap: 14px;
}

.editButton, .removeButton {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    min-width: 70px;
    text-align: center;
    user-select: none;
}

.editButton {
    background-color: rgb(15, 150, 228);
    
}

.removeButton {
    background-color: red;
}

.editForm {
    width: 100%;
    position: relative;
}

.editForm input {
    display: block;
}

.editForm input[type=text] {
    width: 100%;
    box-sizing: border-box;
    font-family: "Akshar", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 14px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border: 3px solid rgb(99, 99, 99);
}

.editForm input[type=submit] {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(31, 187, 31);
    border: none;
    border-radius: 10px;
    padding: 7px 14px;
    font-size: 20px;
    font-family: "Akshar", sans-serif;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 14px;
}

.editForm input[type=button] {
    width: 100%;
    margin: 0 auto;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 7px 14px;
    font-size: 20px;
    font-family: "Akshar", sans-serif;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .containerDiv {
        display: block;
    }

    .taskText {
        margin-bottom: 14px;
    }

    .buttonContainer {
        width: 100%;
        display: flex;
        gap: 14px;
        flex-grow: 5;
    }

    .editButton, .removeButton {
        flex-grow: 1;
    }

    .editDiv {
        box-sizing: border-box;
        width: 100%;
    }
}