html {
  background-color: rgb(10, 10, 10);
}

body {
  margin: 0;
  padding: 0;
}

.main-body {
    background-color: rgb(42, 42, 42);
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

.main-body::before {
  box-shadow: -50px 0 50px -50px rgb(42, 42, 42) inset;
  content: " ";
  height: 100%;
  left: -50px;
  position: absolute;
  top: 0;
  width: 50px;
  opacity: 0.8;
}

.main-body::after {
    box-shadow: 50px 0 50px -50px rgb(42, 42, 42) inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    opacity: 0.8;
}

h1 {
  margin-top: 0;
  padding-top: 0;
  font-family: "Akshar", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Akshar", sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.loading-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-div h1 {
    color: white;
    font-size: 64px;
}

.header-div {
    background-color: white;
    text-align: center;
    padding: 14px 5%;
}

.header-div h1 {
    font-size: 36px;
}

.header-div p {
    margin-bottom: 0px;
}

.list-container {
    margin-top: 32px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.add-item-container {
  padding: 14px;
}

.divider {
  background-color: rgb(99, 99, 99);
  height: 3px;
  border-radius: 3px;
  width: 50%;
  margin: 32px auto;
}

.save-list-container {
    width: 250px;
    margin: 0 auto;
    background-color: rgb(31, 67, 187);
    border: none;
    border-radius: 10px;
    padding: 7px 14px;
    font-size: 20px;
    font-family: "Akshar", sans-serif;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
}

@media only screen and (max-width: 728px) {
    .main-body {
        width: 95%;
    }

    .save-list-container {
      box-sizing: border-box;
      width: 95%;
    }
}